{{ define "title" }}Page not found{{ end }}

{{ define "main" }}
  {{ $script := resources.Get "scripts/index.js" | resources.Minify }}
  <div class="not-found">
    <h1 class="error-emoji"></h1>
    <p class="error-text">/* 404 page not found. */</p>
    <p class="error-link"><a href="/">↑ ss Home ↑</a></p>
  </div>
  <script src="{{ $script.RelPermalink }}"></script>
{{ end }}
